{% extends "chat/head.html" %}
{% load static %}

{% block titleblock %}
Async chat
{% endblock titleblock %}
{% block bodyblock %}
<center>
	<h1>Hello , Welcome to my chat site ! {{request.user}}</h1>
</center>
<br>
{% if request.user.is_authenticated %}
<center> Logout the chat Page <a href="{% url 'logout-user' %}">Logout</a></center>
{% endif %}

<br />
<div class="container">
	<div class="card">
		<div class="container flex justify-center" id="id_chat_item_container" style="font-size: 20px">
		
		</div><br />
		<div class="card-body">
			<div>
				Text Message: <input type="text" id="id_message_send_input" /><br />
				File Message: <input type="file" id="id_media_message_send_input" /><br />
				<button type="submit" id="id_message_send_button">Send Message</button>
			</div>
		</div>
	</div>
</div>
{% endblock bodyblock %}
{% block scriptblock %}
<script src="{% static '/js/async-socket.js' %}"></script>
{% endblock scriptblock %}